<div class="container">
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Portfolio</h2>
        <p>This is the source code for my portfolio website</p>
        <p>Technology Used: Angular</p>
        <a href="https://github.com/chaitanyacrk03/portfolio-_crk" target="_blank">Link</a>
      </div>
    </div>
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Crypto Visualizer</h2>
        <p>This is a portfolio website to view the current crypto trends</p>
        <p>Technology Used: Angular</p>
        <a href="https://crypto-visualizer-41tq.vercel.app/" id="Achievements" target="_blank">Link</a>
      </div>
    </div>
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Ecommerce Website</h2>
        <p>This is an E-Commerce website with CRUD features</p>
        <p>Techs Used: SpringBoot, Thymeleaf, SpringMVC</p>
        <a href="https://github.com/chaitanyacrk03/ecom-basics" target="_blank">Github</a>
      </div>
    </div>
  </div>
    