<div class="container">
        <hr>
        <form action="https://formsubmit.co/chaitanyacrk03@gmail.com" method="post">
            <label for="name"><input name="name" type="text" id="name" placeholder="What's your name?" required></label>
            <label for="email"><input name="email" type="email" id="email" placeholder="Please enter your email" required></label>
            <label for="phone"><input name="phone" type="number" id="phone" placeholder="Phone number"></label>
            <label for="company"><input name="company" type="text" id="company" placeholder="Company Name"></label>
            <label for="mensaje"><textarea name="message" name="mensaje" id="mensaje" cols="30" rows="10" placeholder="Leave a message." required></textarea></label>
            <input type="submit" value="Send">
        </form>
    </div>