<body>
    <div class = container>
      <div class = card>
        <div class = image>
          <img href = "#" src = "../../../assets/images/lcpng.jpg">
        </div>
        <div class = content>
          <h3>This is content</h3>
          <p>DIn publishing and graphic design,           Lorem ipsum is a placeholder text               commonly used to demonstrate the visual         form of a document or a typeface without         relying on meaningful content.</p>
        </div>
      </div>    
    </div>
    <div class = container>
        <div class = card>
          <div class = image>
            <img href = "#" src = "../../../assets/images/hr.png">
          </div>
          <div class = content>
            <h3>This is content</h3>
            <p>DIn publishing and graphic design,           Lorem ipsum is a placeholder text               commonly used to demonstrate the visual         form of a document or a typeface without         relying on meaningful content.</p>
          </div>
        </div>    
      </div>
      <div class = container>
        <div class = card>
          <div class = image>
            <img href = "#" src = "../../../assets/images/ms.jpg">
          </div>
          <div class = content>
            <h3>This is content</h3>
            <p>DIn publishing and graphic design,           Lorem ipsum is a placeholder text               commonly used to demonstrate the visual         form of a document or a typeface without         relying on meaningful content.</p>
          </div>
        </div>    
      </div>
  </body>