<body>
    <div class = container>
      <div class = card>
        <div class = image>
          <img href = "#" src = "../../../assets/images/lcpng.jpg">
        </div>
        <div class = content>
          <h3>Leetcode</h3>
          <p>Solved 700+ problems on Leetcode with max contest rating of  1781. </p>
          <br>
          <button class="btn"><span><a href="https://leetcode.com/chaitanyacrk03/" target="_blank">Leetcode</a></span></button>
        </div>
      </div>    
    </div>
    <div class = container>
        <div class = card>
          <div class = image>
            <img href = "#" src = "../../../assets/images/hr.png">
          </div>
          <div class = content>
            <h3>HackerRank</h3>
            <p>4 Certificates of achievement from HackerRank and rated 5 * in python.</p>
            <br>
            <button class="btn btn2"><span><a href="https://www.hackerrank.com/chaitanyacrk03?hr_r=1" target="_blank">HackerRank</a></span></button>  
          </div>
        </div>    
      </div>
      <div class = container>
        <div class = card>
          <div class = image>
            <img href = "#" src = "../../../assets/images/ms.jpg">
          </div>
          <div class = content>
            <h3>Masai</h3>
            <p>Recieved Masai School certificate of achievement in coding contest.</p>
            <br>
            <button class="btn btn3"><span><a href="https://drive.google.com/file/d/1wFw4eeuzB31s1yKG61E9k6ZJQproMxAw/view?usp=drive_link" target="_blank">Masai</a></span></button>  
          </div>
        </div>    
      </div>
  </body>