h1{
    font-family: 'Fjalla One', cursive;
    font-size: 350%;
    margin-left: 40%;
    padding-top: 0;
    margin-top: 0;
    color: #fca311;
}
div{
    margin:0;
    background-color:#14213d ;
}
a{
    color: rgb(88, 85, 133);
    text-decoration: none;
}
span{
    margin-left: 2em;
}