
<div class="Page">
    <div class="Home"><br><br><br><br>
        <div class="mains">
            <div>
                    <h1>
                        HELLO!
                    </h1>
                    <H1>
                        MY NAME IS 
                    </H1><h1>CHAITANYA RAM KRISHA</h1>
                    <h3>
                        AND I AM A FULL STACK DEVELOPER!
                    </h3>
                    <h3>
                        WITH 1+ YEAR OF EXPERIENCE
                    </h3>
                    <button class="dw">
                        Download Resume
                    </button> 
            </div>
            <div class="jump"  style="width: 20%;height: 20%">
                <img class="me" src="../../../assets/images/Me.jpg" alt="">
            </div>
            <div></div>
        </div>
        
        <a href="https://www.linkedin.com/in/chaitanya-ram-krishna-a6b654172/" target="_blank">
        <img    class="linked" src="../../../assets/images/linkedin.png" alt="linkedin"></a>
     
    </div>
    <div class ="Details">

        <h1 class="info">
            FULLSTACK DEVELOPER AT INFOSYS
        </h1>
        <ul class="responsibility">
            <li>
                <b>Designing and Developing</b>  of UI  as per client requirement.
            </li>
            <li>
                <b>Optimizing</b>  the application performance using searching, mathematical and string algorithms for faster configuration of elevator.
            </li>
            <li>
                Writing <b>unit test</b> cases in <b>Jest</b>  with coverage over <b>85%</b>.
            </li>
            <li>not yet found</li>
            <li>not yet found</li>
            <li>not yet found</li>
        </ul>
    </div>
    <app-skills></app-skills>
</div>