h1{
    font-family: 'Fjalla One', cursive;
    font-size: 350%;
    
    padding-top: 0;
    margin-top: 0;
    color: #fca311;
}
.Home{
    color:white;
    background: linear-gradient(to top, #22577a 0%,#0d1b2a  100%);
    margin: 0;
    padding: 0;
    padding-left:10px;
}
div{
    color:white;
    position: relative;
}
button{
    font-size: 120%;
    background: #fca311;
    color: black;
    border-radius: 20px;
    padding: 5px;
}
img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #fca311;
    margin-top: 10px;
    margin-left: 10px
}
.Details{
    margin-left: 45vh;
    font-size: 85%;
    background: linear-gradient(to top, #0d1b2a 0%,#22577a  100%);
    margin: 0;
    padding: 0;
    z-index: -1;
}
.info{
    padding-top: 5%;
    margin-left: 30%;
}
.responsibility{
    width: 50%;
    font-size: 150%;
    margin: 0;
    padding-bottom: 5%;
    margin-left: 25%;
    z-index: 0;
}
b{
    color: #fca311;

}
li{
    padding: 1.5%;
    color: antiquewhite;
}
.contacts{
    color: #fca311;
    background: linear-gradient(to top,#22577a  0%, #0d1b2a 100%);
}
.me{
    border-radius: 50%;
}
.mains{
    display: flex;
    justify-content:space-between;
}
.me{
    border:5px solid #fca311;
    width:100%;
    height: 100%;
}
@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  50%  {transform: translate3d(0,5%,0) scale3d(1,1,1);}
  100% {transform: translate3d(0,10%,0) scale3d(1,1,1);}
}
.jump:hover {
  transform-origin: 50% 50%;
  animation: jump .5s linear alternate infinite;
}
@keyframes linked {
    0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
    50%  {transform: translate3d(0,5%,0) scale3d(1,1,1);}
    100% {transform: translate3d(0,10%,0) scale3d(1,1,1);}
    }
    .linked {
    transform-origin: 50% 50%;
    animation: jump .5s linear alternate infinite;
    }
.dw{
    border:2px solid #e5e5e5;;
}
.dw:hover{
    color: #fca311;
    background: linear-gradient(to top,#0d1b2a  0%, #22577a 100%);
}
hr{
    margin: 0;
    padding:0;
}
.background{
    margin-left:4%;
    color:#219ebc;
    font-size: 170px;
    position:absolute;
    z-index: -1;
}
.circle{
    position:relative;
    width: 200px;
    height:200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    display: flex;
    position: absolute;
    width: 150px;
    height: 150px;
    background: url("../../../assets/images/Me.jpg");
    background-size: cover;
    border-radius: 50%;
}
.text{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    color:#bde0fe;
    animation: rotateText 10s linear infinite;
}
@keyframes rotateText{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform:rotate(0deg)
    }
}
.text span{
    position: absolute;
    left: 50%;
    font-size: 100%;

    transform-origin: 0 100px;
}
.text p{
    margin: 0;
}
.circle{
    margin-right:25%;
}
@for $i from 0 through 47{
    .span#{$i}{
        transform: rotate(($i)*8.5deg);
    }
}
a{
    color: #fff;
    text-decoration: none;
}
.data
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #a2d2ff 0%,
    #219ebc 100%

  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@media screen and (max-width: 650px){
h1{
    font-size: 220%;
}
.background{
    font-size: 8em;
    padding-left: 3%;
}
.info{
    font-size: 440%;
}
.responsibility{
    margin-left: 17%;
}
br{
    display: none;
}
}
@media screen and (max-width: 470px){
    .info{
        font-size: 330%;
    }
    .background{
        font-size: 6em;
        padding-left: 3%;
    }

}