
<hr>
<div class="Page">
    <div class="Home"><br><br><br><br>
        <div class="mains">
            <div>
                    <h1>
                        HELLO!
                    </h1>
                    <H1>
                        MY NAME IS 
                    </H1><h1>CHAITANYA RAM KRISHA</h1>
                    <h3>
                        AND I AM A FULL STACK DEVELOPER!
                    </h3>
                    <h3>
                        WITH 2 YEARS OF EXPERIENCE
                    </h3>
                    <button class="dw">
                        Download Resume
                    </button> 
            </div>
            <div class="jump"  style="width: 20%;height: 20%">
                <img class="me" src="../../../assets/images/Me.jpg" alt="">
            </div>
            <div></div>
        </div>
        
        <a href="https://www.linkedin.com/in/chaitanya-ram-krishna-a6b654172/" target="_blank">
        <img    class="linked" src="../../../assets/images/linkedin.png" alt="linkedin"></a>
     
    </div>
    <hr>
    <div class ="Details">

        <h1 class="info">
            FULLSTACK DEVELOPER AT INFOSYS
        </h1>
        <ul class="responsibility">
            <li>
                Working as a <b>Full Stack Developer</b> for ThyssenKrupp Group
                of Companies with over 2000+ active users in 7 countries
                responsible for creating a sales configurator that optimizes the
                process of configuring an elevator
            </li>
            <li>
                Developed 100+ UI(Angular) and Api(Spring Boot) code based on client requirements.
            </li>
            <li>
                Reduced the runtime of configuration process from 2 hrs to under 40 minutes by optimizing the Api calls and improving the Time Complexity.
            </li>
        </ul>
    </div>
    <hr>
    <app-skills></app-skills>
    <hr>
    <app-projects></app-projects>
    <hr>
    <app-achievements></app-achievements>
    <hr>
    <app-bottom></app-bottom>
</div>