<div class="details">
    <h1>
        SKILLS
    </h1>
    <div class="flexer">
            <div class="flex2">
                <img src="../../assets/images/python.png" alt="py">
                <app-progress-bar [length]='[90,70,86,75,31,2,48,100]'></app-progress-bar>
            </div>
            <div class="flex2">
                <img src="../../assets/images/angular.png" alt="angular">
                <app-progress-bar [length]='[90,70,86,75,31,2,48,100]'></app-progress-bar>
            </div>
            <div class="flex2">
                <img src="../../assets/images/pngwing.com.png" alt="c#">
                <app-progress-bar [length]='[90,70,86,75,31,2,48,100]'></app-progress-bar>
            </div>
            <div class="flex2">
                <img src="../../assets/images/pngwing.com (1).png" alt="asp.net">
                <app-progress-bar  [length]='[90,70,86,75,31,2,48,100]'></app-progress-bar>
            </div>
            <div class="flex2">
                <img src="../../assets/images/python.png" alt="py">
                <app-progress-bar [length]='[90,70,86,75,31,2,48,100]'></app-progress-bar>
            </div>
            <div class="flex2">
                <img src="../../assets/images/angular.png" alt="angular">
                <app-progress-bar [length]='[90,70,86,75,31,24,48,100]'></app-progress-bar>
            </div>
            <div class="flex2">
                <img src="../../assets/images/pngwing.com.png" alt="c#">
                <app-progress-bar [length]='[90,70,86,75,31,2,48,100]'></app-progress-bar>
            </div>
            <div class="flex2">
                <img src="../../assets/images/pngwing.com (1).png" alt="asp.net">
                <app-progress-bar  [length]='[90,70,86,75,31,2,48,100]'></app-progress-bar>
            </div>
    </div>
</div>
