
div{
    background: linear-gradient(to top,#0d1b2a  0%, #22577a 100%);
    display:flex;
    justify-content:space-between;
    font-family: 'Kolker Brush', cursive;
}
h2{
    padding-left: 20px;
    padding: none;
    margin: none;
    font-size: 45px;
    color: #fca311;
}
button{
    color: #e5e5e5;
    padding-right: 20px;
    font-family: 'Fjalla One', cursive;
    font-weight: 600;
    margin: auto;
    background: none;
    border: none;
    font-size: 120%;
}
button:hover{
    color:#fca311
}
span{
    margin: 0;
    padding: 0;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color:#fca311
}
.color{
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  width: 100%;
}