<span  class="color">
    <div class=>
        <div>
            <h2>
                Portfolio
            </h2>
            
        </div>
        <div>
            <button (click)="toHome()" routerLinkActive="active" routerLink="/"> Home</button>
            <button (click)="toSkills()" routerLinkActive="active">Skills</button>
            <button (click)="toAchievements()" routerLinkActive="active"> Achievements</button>
            <button ><a href="../../../assets/images/chaitanya_resume.pdf" download>Download Resume</a></button >
            <button (click)="toContact()" routerLinkActive="active"> Contact Me</button>
        </div>
    </div>
</span>