h1{
    font-family: 'Fjalla One', cursive;
    font-size: 350%;
    
    padding-top: 0;
    margin-top: 0;
    color: #fca311;
}
div{
    background:linear-gradient(to top,#22577a 0%, #0d1b2a 100%);
}